<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
    <display-name>Clojure fotofeed servlet</display-name>
    <servlet>
        <servlet-name>fotofeed</servlet-name>
        <servlet-class>tonvanbart.fotofeed</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fotofeed</servlet-name>
        <url-pattern>/fotos</url-pattern>
    </servlet-mapping>
</web-app>